<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.fname %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @user.mname %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.lname %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @user.bdate %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @user.cnum %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
